<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather forecast</title>
</head>
<body>
<!--<h2>Weather forecast - London</h2>-->
<table>
    <thead>
    <tr>
        <th>City </th>
        <th>Temperature </th>
        <th>Pressure </th>
        <th>Humidity </th>
        <th>wind </th>
    </tr>
    </thead>
    <tbody>
    <tr>
<!--   wilgottność i wiatr     tutaj dodać -->
        <td th:text="${weatherForecast.name}"></td>
        <td th:text="${weatherForecast.main.temp}"></td>
        <td th:text="${weatherForecast.main.pressure}">1000</td>
        <td th:text="${weatherForecast.main.humidity}">1000</td>
        <td th:text="${weatherForecast.main.wind}">1000</td>
    </tr>
    </tbody>


</table>
</body>
</html>


